html {
    font-size: 100px;
}

body,
div, article, section, header, footer, nav, aside, p,
h1, h2, h3, h4, h5, h6,
form, input, button, label,
a, span, em,
ul, li, dl, dt, dd,
table, thead, tbody, tfoot, tr, th, td {
    font-size: .14rem;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style-type: none
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

input {
    border: 1px solid #eee;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
    height: 1.5em;
    display: block;
}
